.App {
  text-align: center !important
}

/* navbar */
.navbar-brand{
  font-size: 5rem;
  color: white;
}
#nav {
  padding: 0.8rem 7rem;
  background-color: #5b8a72;
  color: white;
}

#nav-bar a:hover { 
  color: #bfcba8 !important; 
}

#nav-bar li a {
  color: white;
}

.fa-align-justify {
  color: white;
}

/* Landing Page */
.main {
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url('graphic.png');
  display: table;
  top: 0;
  background-size: cover;
  height: 100vh;
}

.intro{
  float: left;
  text-align: left !important;
  margin-top: 1rem;
  margin-right: 5rem;
  padding: 2rem;
  font-size: 2rem;
  color: #5b8a72;
  background-colorr: rgb(255, 255, 255, 0.5);
}

.np{
    margin-bottom: 0px;
  
}

.learn-button {
  border: none;
  background-color: #5b8a72;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: white;
    border-radius: 10px;



}

.about {
  padding: 3rem;
}
.outer {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
}

.row {
  padding: 0;
  margin: 5em;
}

.item{
  width: 20em;
}

.team {
  background-color: #325288;
  color: white;
}

.team-row {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
}

.team-row {
  padding: 0;
  margin: 5em;
}

.team-item{
  width: 20em;
}

/* conputer */

.comp-container{
  width: 380px;
  margin: 20px auto;
}

.screen{
  width: 380px;
  height: 200px;
  background-color: #607D8B;
  background-image: url('contact.png');
  border-radius: 25px 25px 1px 1px;
  border: 1px solid #E0E0E0;
  padding: 1rem;
}

#event{
   background-image: url('calendar.png');
}

.key{
  width: 380px;
  height: 60px;
  background-color: #E0E0E0;
  border-radius: 0px 0px 20px 20px;
  padding-top: 5px;
}

.comp-button{
  background-color: #B0BEC5;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.stand{
  margin: 0 auto;
  background-color: #B0BEC5;
  width: 50px;
  height: 50px;
}

.bottom-stand{
  margin: 0 auto;
  background-color: #B0BEC5;
  width: 150px;
  height: 10px;
}

/* calander view*/
.container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.item {
  flex-grow: 1;
  margin: 10px;
  align-items: center;
  text-align: center 
}

.border {
  border: 1px dotted;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}