.App {
  text-align: center !important
}

/* navbar */
.navbar-brand{
  font-size: 5rem;
  color: white;
}
#nav {
  padding: 0.8rem 7rem;
  background-color: #5b8a72;
  color: white;
}

#nav-bar a:hover { 
  color: #bfcba8 !important; 
}

#nav-bar li a {
  color: white;
}

.fa-align-justify {
  color: white;
}

/* Landing Page */
.main {
    height: 800px;
    width: 100%;
    margin: auto;
    background-image: url('tree.png');
    display: table;
    top: 0;
    background-size: cover;
    /* height: 100vh; */
    margin-top: 80px;
}

.intro{
  float: left;
  text-align: left !important;
  margin-top: 1rem;
  margin-right: 5rem;
  padding: 2rem;
  font-size: 2rem;
  color: #5b8a72;
  background-colorr: rgb(255, 255, 255, 0.5);
}

.np{
    margin-bottom: 0px;
}

.learn-button {
  border: none;
  background-color: #c87137;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 10px;

}

/* conputer */
.comp-container{
  width: 380px;
  margin: 20px auto;
}

.screen{
  width: 380px;
  height: 200px;
  background-color: black;
  border-radius: 25px 25px 1px 1px;
  border: 1px solid black;
  padding: 1rem;
}

.key{
  width: 380px;
  height: 60px;
  background-color: #E0E0E0;
  border-radius: 0px 0px 20px 20px;
  padding-top: 5px;
}

.comp-button{
  background-color: #B0BEC5;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.stand{
  margin: 0 auto;
  background-color: #B0BEC5;
  width: 50px;
  height: 50px;
}

.bottom-stand{
  margin: 0 auto;
  background-color: #B0BEC5;
  width: 150px;
  height: 10px;
}


/* about app */
h3.about {
  color: #c87137;
}

.about {
  padding: 3rem;
  background-color: #5b8a72;
  color: white;
}

.about-outer {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;

}

.about-item{
  width: 25em;
  color: white;
  padding: 2rem 1rem;
}

.about-row {
  padding: 0;
  margin: 0rem 2rem;
}

/* footer */
.footer {
  color: white;
  background-color: #5b8a72;
  padding: 1rem;
}

/* calander view*/
.container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.item {
  flex-grow: 1;
  margin: 10px;
  align-items: center !important;
  text-align: center !important
}

.border {
  border: 1px dotted;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

 select {
 font-family: 'FontAwesome', 'Second Font name'
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.calendar{
  margin: 0 auto;
}

.react-calendar {
  width: 500px !important;
}

.calendar__header {
  color: #5b8a72;
}

.text-green {
  color: #5b8a72;
}

.hr-green {
  border: 2px dotted #5b8a72;
}

.text-big{
  font-size: 17px;
}

.btn-green {
  background-color: #5b8a72;
  color: white;
}
.alert-success{
  margin: 0 auto;
}

.treeview {
    height: 800px;
    width: 100%;
    margin: auto;
    background-image: url('grass_background.png');
    display: table;
    top: 0;
    background-size: cover;
    /* height: 100vh; */
    margin-top: 60px;
    position: relative;
}

.tree-text {
  color: green;
  font-family: "Brush Script";
  margin-top: -40px;
}

.tree > img {
    position:absolute;
    width: 30%;
    top:1%;
    left:35%;
}
