.App {
  text-align: center !important
}

/* navbar */
.navbar-brand{
  font-size: 5rem;
  color: white;
}
#nav {
  padding: 0.8rem 7rem;
  background-color: #5b8a72;
  color: white;
}

#nav-bar a:hover { 
  color: #bfcba8 !important; 
}

#nav-bar li a {
  color: white;
}

.fa-align-justify {
  color: white;
}

/* calander view*/
.container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.item {
  flex-grow: 1;
  margin: 10px;
  align-items: center;
  text-align: center 
}

.border {
  border: 1px dotted;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}