.contact-book {
    padding: 0 15rem;
  }

.delete-button {
    display: none;
    background-color: white; /* Green */
    border: none;
    border-radius: 100%;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #bfcba8; /* Green */
    color: black;
}

.add-button {
    background-color: #5b8a72; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #bfcba8; /* Green */
    color: black;
}

tr:hover .delete-button {
    display: block;
}

.clear{
    color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #5b8a72;
  color: white;
}

/* Add new contact form */
.react-responsive-modal-modal {
  background-color: #5b8a72 !important; 
  color: #fff;
}

.contact-form {
    padding: 3rem;
}

.contact-form input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 8px;
  border: none;
}

.contact-form input[type=text]:focus {
    border: none;
    border-bottom: 2px solid white;
    outline: none;
}

.contact-form input[type=submit] {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 8px 8px 40px;
    border: none;
}

.contact-form input[type=submit]:hover {
    background-color: #bfcba8; /* Green */
    color: black;
    border: none;
}

.fa-phone-square-alt {
    width: 32px;
    height: 32px;
}


/* Responsive design */
@media only screen and (max-width: 1200px) {
  .contact-book {
    padding: 1rem;
  }
}

